@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
  list-style: none;
}

html, body, .wrapper, .header {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.header {
  display: block;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  background: url(..//img/header.jpg) center/cover no-repeat fixed;
}

.main-menu__logo {
  flex: 1 0 25%;
}
.main-menu__item {
  flex: 1 1 15%;
  align-self: start;
  margin: 25px 15px;
  height: 100%;
}
.fwrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.logo_icon {
  display: block;
  padding: 20px;
  max-height: 100px;
}

.menu-button {
  display: inline-block;
  padding: 0 20px;
  min-width: 155px;
  border-radius: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  background-color: #dab894;
  border-bottom: 4px solid #cb9b67;
}
.menu-button:hover {
  border-bottom: none;
  transform: translate(0, 4px);
}
.menu-button_reg {
  background-color: #de6874;
  border-bottom: 4px solid #d94f5c;
}

.title {
  margin: 2.5% 5%;
  padding: 40px;
  max-width: 650px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 64px;
  background: #dab89485;
  border-radius: 25px;
}
.title__item {
  display: block;
  padding: 10px 10px 10px 10%;
}
.title__name {
  padding: 0 0 40px 0;
  font-size: 128px;
  font-style: italic;
  text-align: center;
}
.title__list {
  display: block;
  font-size: 64px;
}

.content {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
}
.content__text {
  padding: 0 0 25px 0;
  max-width: 80%;
  margin: 0 auto;
  line-height: 32px;
  text-indent: 2.5%;
}
.content__title {
  padding: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  font-style: italic;
  line-height: 64px;
  text-align: center;
}
.content p {
  padding: 0 0 20px 0;
}
.content img {
  display: block;
  max-height: 64px;
  margin: 0 auto;
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 15%;
  background: url(..//img/footer.jpg) center/cover no-repeat;
}
.footer__inform {
  align-self: center;
  flex: 1 1 50%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.footer__text {
  padding: 0 15%;
}
.footer__links {
  align-self: center;
  flex: 1 1 50%;
}
.footer__social {
  padding: 0 10%;
}

.social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.social__item {
  display: block;
  height: 64px;
  width: 64px;
  margin: 5px;
}
.social__item:nth-child(1) {
  background: url(..//img/maps.svg) center/cover no-repeat;
}
.social__item:nth-child(2) {
  background: url(..//img/fb.svg) center/cover no-repeat;
}
.social__item:nth-child(3) {
  background: url(..//img/inst.svg) center/cover no-repeat;
}
.social__item:nth-child(4) {
  background: url(..//img/tg.svg) center/cover no-repeat;
}
.social__item:hover {
  transform: scale(1.15);
}
.social__link {
  display: block;
  height: 100%;
  width: 100%;
}

.prod-wrapper {
  margin: 0 5%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.form-button {
  display: block;
  padding: 0 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  background-color: #fff;
  border: 2px solid #dab894;
  border-radius: 20px;
}
.form-button:hover {
  background-color: #dab894;
}

.search {
  margin: 10px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.search__form {
  display: block;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.search input {
  display: block;
  margin: 0 5px;
  padding: 0 20px;
  min-width: 300px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  background-color: #fff;
  border: 2px solid #dab894;
  border-radius: 42px;
}

.filtr {
  margin: 10px 0;
}
.filtr__form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.filtr select, .filtr input, .filtr option {
  margin: 10px;
  flex: 1 1 10%;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  background-color: #fff;
  border: 2px solid #dab894;
}
.filtr select {
  border-radius: 2.5px;
  text-align: center;
  border: 2px solid #b9c9a6;
}
.filtr option {
  border: none;
}
.filtr option:hover {
  background-color: #dab894;
}

.catalog {
  margin: 20px 0 30px 0;
  font-family: "Open Sans", sans-serif;
}
.catalog__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.catalog__item {
  margin: 10px;
  flex: 0 1 300px;
  align-self: auto;
}

.product {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 20px;
  background-color: #dab894;
}
.product__photo {
  display: block;
  padding: 0 0 10px 0;
  width: 100%;
  border-radius: 15px;
  background-color: #fff;
}
.product__type {
  padding: 10px;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}
.product__name {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.product__country {
  flex: 1 1 auto;
  padding: 10px;
  font-weight: 300;
  font-size: 17px;
}
.product__about {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #212121;
  line-height: 20px;
  text-align: justify;
  padding: 10px;
}
.product__button {
  display: block;
  margin: 0 15px 15px 15px;
  padding: 10px;
  border-radius: 30px;
  border: 0.5px solid #212121;
  border-bottom: 4px solid #212121;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
}
.product__button:hover {
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

.wrapper-bg {
  background: url(..//img/header.jpg) center/cover no-repeat fixed;
  flex: 1 1 auto;
}

.wrapper-form {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

.form {
  margin: 20px auto 20px;
  padding: 40px;
  max-width: 700px;
  background: #dab89485;
  border-radius: 25px;
}
.form form {
  display: block;
  height: 100%;
  width: 100%;
}
.form__title {
  padding: 0 0 15px 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
  line-height: 40px;
  font-style: italic;
  text-align: center;
}
.form input, .form textarea {
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 0 10px;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 40px;
  border: none;
  resize: none;
}
.form__submit {
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 0 10px;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  background-color: #dab894;
  border: none;
  border-bottom: 4px solid #cb9b67;
}
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.row__item {
  min-width: 600px;
  margin: 30px;
}